.navbars {
    background-color: rgb(243, 235, 225);
}

/* Desactiver une propriete de boostrap qui existait deja */
.navbar {
    --bs-navbar-padding-y: 0;
}

.logo {
    height: 100px;
    width: 100px;
}

.div-nav {
    display: flex;
    justify-content: end;
}

li {
    padding-right: 40px;
}

@media only screen and (max-width: 990px) {
    .nav-link {
        padding: 10px 10px 10px;
        /* height: 10px; */
    }
}
@media only screen and (min-width: 992px) {
    .nav-link {
        padding: 50px 10px 50px;
        height: 130px;
    }
}

.text-smal {
    padding-top: 20px;
    font-size: 14px;
    font-weight: lighter; 
    color: rgb(0, 0, 0);
}
.nav-link {
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(155, 102, 3);
}

li:hover {
    background-color: rgb(190, 186, 186);
}
