.navbars {
    background-color: rgb(243, 235, 225);
}

/* Desactiver une propriete de boostrap qui existait deja */
.navbar {
    --bs-navbar-padding-y: 0;
}

.logo {
    height: 100px;
    width: 100px;
}

.div-nav {
    /* margin: 0px; */
    /* padding: 20px; */
    display: flex;
    justify-content: end;
}

li {
    padding-right: 40px;
    /* padding-right: 30px; */
    /* margin-right: 80px; */
}

@media only screen and (max-width: 990px) {
    .nav-link {
        padding: 10px 10px 10px;
        /* height: 10px; */
    }
}
@media only screen and (min-width: 992px) {
    .nav-link {
        padding: 50px 10px 50px;
        height: 130px;
    }
}
/* @media screen and (max-width: 819px) and (min-width: 990px), (max-width: 1200px) {
    .nav-item a {
        font-size: 10px;
        color: black;
    }
} */

.text-smal {
    padding-top: 20px;
    font-size: 14px;
    /* font-weight: 700; */
    font-weight: lighter; 
    /* justify-content: center;
    align-items: center;
    justify-items: center; */
    /* text-align: center; */
    color: rgb(0, 0, 0);
}
.nav-link {
    /* height: 130px; */
    /* padding-top: auto; */
    /* padding-bottom: 100px; */
    padding-top: 20px;
    /* width: 216px; */

    font-size: 18px;
    font-weight: bold;
    color: rgb(155, 102, 3);
}

li:hover {
    /* text-decoration: none; */
    background-color: rgb(190, 186, 186);
    /* height: 100px; */
}
