/* @media only screen and (max-width: 990px) {
    .col-bio-img {
        height: 5vh;
    }
} */

.div-global-bio {
    background-color: #f0f0f0;
}
#rowBio {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}

.text-bio {
    padding-top: 20px;
    text-align: justify;
    font-size: 18px;
}
.div-img {
    /* align-items: center; */
    display: flex;
}
.img-bio {
    height: 350px;
    padding: 20px;
    margin-left: auto;
    /* margin: 100px; */
}