

.div-global-services {
    background-color: rgb(243, 235, 225);
}

.title-ourServices {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
} 

.div-service {
    padding-top: 30px;
    padding-bottom: 30px;
    /* margin: auto; */
}
.div-service .last {
    margin: auto;
}
.div-service > h4 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.div-service > p {
    padding-bottom: 20px;
    font-size: 18px;
}